.studentnav{
    height: 140px; 
    background: #FFFFFF; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    display: flex; 
    align-items: center; 
}
.navbarbtn{
    display: none;
}
.notificationicon{
    margin: auto 64px;  
    color: #6755D9; 
}
.collapsed-nav{
    display:flex;
    margin-left:auto;
    margin-right:3%;
}
.collapsed-nav>p{
    text-align:center; 
    width: 40px; 
    height: 40px; 
    background: #5647B2; 
    border-radius: 50%; 
    font-family: Rubik; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 30px; 
    color: #FFFFFF;
    padding:3px;
}
.collapsed-nav > hr{
    display: none;
    height: 0.5px;
    width: 100%;
    background-color: grey;
    margin: 15px auto;
}
@media (min-width:721px) and (max-width:1080px) {
    .notificationicon{
        margin: auto 10%;
    }
}
@media (max-width:720px) {
    .studentnav{
        margin-left:50px;
    }
    .navbarbtn{
        display: block;   
    }
    .collapsed-nav{
        flex-direction: column-reverse; 
        padding: 20px 10px;  
        background-color: white;
        -moz-box-shadow: 0 0 5px #999;
        -webkit-box-shadow: 0 0 5px #999;
        box-shadow: 0 0 5px #999;
        border: 1px solid black;
        border-radius: 10px;
        margin-right: -38px;
        margin-top: 300px;
    }
    .collapsed-nav>.notificationicon{
        margin: auto;
    }
    .collapsed-nav>p{
        margin: auto;
    }
    .collapsed-nav>hr{
        display: block;
    }
}